.display{
  /* background: rgb(237,143,182); */
  background: rgba(18,18,18,1);
  background: linear-gradient(180deg, rgb(236, 142, 181)  0%, rgb(18,18,18) 69%);
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  overflow-y: overlay;
  overflow-x: hidden;  
}
.music-list{
  width: 100%;
  background: rgb(0, 0, 0, 0.001);
  
}
.content{
  display: flex;
  position: relative;
  /* justify-content: space-between; */
}
.display-header{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.display-body{
  background: linear-gradient(180deg, rgb(73, 48, 59) 0%, rgba(18,18,18,1) 8%);
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
}
.page {
  width: 100%;
}
.user-header {
  background: rgb(22, 22, 22, 0.9);
  z-index: 2;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 252px);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.user-icon > svg{
  margin: 0px 5px 5px 5px;
  font-size: 16px;
}

.user-icon{
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  width: 142px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 50px;
  color: white;
  font-weight: 700;
  align-items: center;
  align-self: flex-end;
}

.user-icon img {
  height: 28px;
  width: 28px;
  padding: 1px;
  border-radius: 100%;
  margin: 1px 13px 1px 0px;
}
.user-icon > span{
  font-size: 13px;
}
.baner-img{
  width: 232px;
  margin: 20px;
  box-shadow: 1px 3px 100px rgb(0, 0, 0, 0.5);
}
.header-banner{
  display: flex;
  flex-direction: row;
  color: white;
}
.header-banner h1{
  font-size: 52px;
  margin: 5px 0px 5px 0px;
}
.header-banner span{
  font-size: 16px;
  color: rgb(216, 216, 216);
  margin-bottom: 50px;
}
.header-banner h6{
  margin-bottom: 0px;
}
.header-banner > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
