.footer{
    height: 91px;
    width: 100%;
    background-color: #282828;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.controls{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 800px;
    z-index: 2;
}
.pause, .start {
    background-color: transparent;
    border: none; 
    cursor: pointer; 
    font-size: 35px;
    padding: 0px;
    margin: 0px 15px;
    padding: 5px;
    border-radius: 25px;
    color: #949494;
}
.controls button > svg{
    border-radius: 25px;
}
.controls button > svg:hover{
    color: #cecece;
}
.slidecontainer {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}
.slider {
    width: 80%;
    height: 3px;
    align-self: center;
    -webkit-appearance: none;
    background: rgb(82, 82, 82);
    outline: none;
    -webkit-transition: 1000ms;
    transition: 1000ms;
    overflow: hidden;

}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 15px;
    border-radius: 100% ;
    background: rgb(32, 32, 32);

    box-shadow: -801px 0 0 801px rgb(212, 212, 212) ;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 5px;
    height: 15px;
    background: rgb(32, 32, 32);
    box-shadow: -801px 0 0 801px rgb(212, 212, 212) ;

    cursor: pointer;
}
.slider::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    margin-top: -1px;
  }

.slidecontainer span {
    margin: 0px 5px;
    font-size: 15px;
}
audio{
    display: inline-block;
}
.pause{
    display: none;
}

.cont-timer, .max-timer{
    color: #cecece;
    margin: 20px;
    font-weight: 600;
}

.card-icon-info{
    left: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.card-icon-info img{
    height: 55px;
    align-self: center;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.volume{
    width: 255px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
    margin-right: 15px;
}
.volume >input{
    width: 80%;
}
.mute-volume,.off-volume , .up-volume{
    color: rgb(172, 172, 172);
    font-size: 23px;
    display: none;
}

.down-volume{
    color: rgb(172, 172, 172);
    font-size: 23px;
}

.card-music-info{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 255px;
    margin: 10px 10px;
}
.card-music-info a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin: 8px 0px ;
}
.card-music-info a:hover{
    text-decoration: underline;
}
.card-music-info span i:last-child i:last-child{
    display: none;
}
.card-music-info span{
    font-size: 14px;
}


@media (max-width: 750px) { 
    .card-music-info{
        width: 150px;
    }
    .footer{
        width: 750px;
    }
    .volume{
        width: 150px;
    }
    .controls{
        width: 400px;
    }
    .footer{
        justify-content: flex-end;
    }
 }