.home-page{
    background: rgb(16, 16, 16);
    width: calc(100% - 233px);
    height: 100%;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2; 
}
.play-button-card{
    background: rgb(84,159,84);

    padding: 10px;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 10px;
    box-shadow: 0px 0px 5px black;
}
.play-button-card > svg {
    color: white;
}


@media (max-width: 1070px) { 
    .album-artists > a{
        font-size: 12px;
        margin-top: 5px;
    }
    .topArtists{
        margin: 10px 0px 10px 10px!important;
    }
    .Recently{
        margin: 50px 0px 10px 10px!important;
    }
    .Recently-cards{
        max-height: 435px;
    }
 }
 @media (max-width: 631px) { 
    .Recently-cards{
        min-width: 425px;
        height: 570px;
    }
    .topArtists{
        min-width: 425px;
    }
    .Recently h1{
        font-size: 25px;
        margin-top: 30px;
    }
    .Recently {
        margin-top: 50px!important;
    }
 }
